.kebab_bg {
    background: rgb(219,219,138);
    background: linear-gradient(347deg, rgba(219,219,138,1) 33%, rgba(224,224,224,1) 100%); 
}
.coxinha_bg {
    background: rgb(166,219,138);
    background: linear-gradient(347deg, rgba(166,219,138,1) 33%, rgba(224,224,224,1) 100%); 
}
.lasagne_bg {
    background: rgb(138,192,219);
    background: linear-gradient(347deg, rgba(138,192,219,1) 33%, rgba(224,224,224,1) 100%); 
}

.images {
    outline-style: double;
    outline-width: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
    font-size: 3ch;
}

.ingredients, .steps, .text {
    max-width: 50%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}